<style>
    body{
        box-sizing: border-box;
        width: 100%;
        font-family: "Barlow", sans-serif;
    }
    .container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 5rem;
        position:sticky;
        background-color: white;
        
    }

    .navbar {
        margin: 1.3rem;
        font-size: 1.2rem;
    }

    .navbar a {
        text-decoration: none;
        color: black;
        font-family: "Barlow", sans-serif
    }

    .navbar a:hover {
        color: rgb(71, 126, 71);
    }

    .navbar img {
        height: 3.5rem;
        width: 13rem;
        position: relative;
        right: 5rem;
    }

    .navbar button {
        border-radius: 2rem;
        height: 3rem;
        width: 9rem;
        background-color: #00880F;
        color: white;
        border: white;
    }

    .navbar button a {
        color: white;
        font-size: 1rem;
    }

    .navbar button a:hover {
        color: white;
    }

    .fa-solid {
        color: #00880F;
      
    }
    .container2{
        
        background-image: url(images/bg.jpg);
        height: 41rem;
        color: white;
        font-family: "Barlow", sans-serif;
        display: block;
        font-weight: 500;
        display: grid;
        background-repeat:no-repeat;
        grid-template-rows:repeat(3,auto);
       
       
    }
    @keyframes abhi {
        from{
            position: relative;
            top: 7rem;
        }
        to{
            position: relative;
            top: 5rem;
        }
        
    }
    @keyframes abhi1 {
        from{
            position: relative;
            top: 1rem;
        }
        to{
            position: relative;
            top: 0rem;
        }
        
    }
    @keyframes abhi2 {
        from{
            position: relative;
            top: 2rem;
        }
        to{
            position: relative;
            top: 0rem;
        }
        
    }
    .heading{
        display: flex;
        justify-content: center;
        align-items:center;
        position: relative;
        top: 5rem;
        font-size: 3rem;
        animation-name: abhi;
        animation-duration: 2s;
        animation-iteration-count: 1;
        /* width: 15rem; */
        /* border: 2px solid red; */
    }
    .content{
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items:center;
        position: relative;
        
        top: 0rem;
        font-size: 1.4rem;
        animation-name: abhi1;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    .container2 button{
        /* border: 2px solid red; */
        position: relative;
        left: 43rem;
        background-color:white;
        border-radius: 2rem;
        height: 3.5rem;
        width: 13rem;
        border: white;
        animation-name: abhi2;
        animation-duration: 2s;
        animation-iteration-count: 1;
        color: #00880F;
        font-size: 1.2rem;
        transition:all 0.3s ease-in-out;
    }
    .container2 button:hover {
        border: 1px solid white;
        background-color: transparent;
        
        color: white;
    }
  
    
    .container3{
        display: flex;
        justify-content: center;
        align-items: center;
        /* marssgin-top: 2rem; */
        height: 22rem;
        box-sizing: border-box;
        /* border: 2px solid red; */
        background-color: #EFF6F0;
    }
    .cards{
        
        margin: 1rem;
        /* border: 2px solid red; */
        height: 10rem;
        width: 10rem;
        padding-top: 0rem;
         transition: all 0.5s;
         background-color: whitesmoke;
         box-shadow: .1px  .1px 1.5px rgb(204, 203, 203);
    }
    .cards:hover{
        box-shadow: .5px  .5px 10px rgb(204, 203, 203);
    }
    .cards img{
        position: relative;
        top: 2.5rem;
        left: 2.5rem;
    }
    .cards a{
        text-decoration: none;
        position: relative;
        top: 3.5rem;
        left: 2.5rem;
        font-size: 1.2rem;
        color: black;
    }
    .content3{
        position: relative;
        left: 27rem;
        bottom: 4rem;
        font-size: 1.2rem;
        color: #2e5e33;
        width: 43%;
    }
    .content3 a{
        color: green;
    }
    .content3 a:hover{
            color: #14e02c;
    }
    .container4{
        display: grid;
        grid-template-columns: repeat(2,auto);
        background-color: rgb(48, 85, 52);
     grid-gap: 2rem;
     padding-left: 4rem;
     padding-top: 5rem;
     color: white;
     grid-template-rows: (4,auto);
     font-style: normal;
   
    }
    .titleleft{
        font-size: 2rem;
        width: 25rem;
        font-weight: 600;
        /* background-color: red; */
    }
    .titleright{
        font-size: 2.5rem;
        /* background-color: red; */
        font-weight: 600;
        width: 30rem;
       padding-bottom: 2rem;
        
    }
    
    .titleleft span{
        font-size: 1rem;
        font-weight: 100;
        
    }
    .titleright span{
        font-size: 1rem;
        font-weight: 100;
    }
    .container4 button{
        height: 4rem;
        width: 14rem;
        background-color: green;
        transition: all 0.3s ease-in-out;
        border: 0px rgb(48, 85, 52);
        border-radius: 2rem;
        color: white;
        font-size: 1.2rem;
    }
    .container4 button:hover{
        background-color: transparent;
        border: 1px solid white;
    }
    
     .titleright:first-child{
         grid-row: 1 / span 3;
         
         
     }
    
     .title img{
         height: 16rem;
         width: 23rem;
         margin-top: 4rem;
     }
     .titleimg img{
         height: 24rem;
         width: 32rem;
     }
     .container5{
         width: 100%;
         height: 18rem;
         /* background-color: red; */
        display: grid;
        grid-template-columns: repeat(3,auto);
         
     }
   .cards1{
       /* width: 33%; */
       border: 0.01px solid rgb(219, 213, 213);
       height: 18rem;
       padding-left: 2rem;
       
   }
   .cards1 h3{
       position: relative;
       top: 5rem;
            color: rgb(48, 85, 52);
   }
   .cards1 p{
       position: relative;
       top: 6rem;
       color: rgb(48, 85, 52);
   }
   .cards1 img{
       height: 3rem;
       width: 3rem;
       position: relative;
       top: 4rem;
   }
   .container6{
       width: 100%;
       height: 10rem;
       display: flex;
       justify-content: center;
       align-items: center;
       color:rgb(48, 85, 52) ;
       font-size: 1.2rem;
   }
   .container7{
       height: 14rem;
      width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       grid-gap: 2rem; 
       padding-bottom: 6rem;
   }
   
   .cards2{
       /* padding: 3rem 2rem; */
       
       height: 14rem;
       width: 19rem;
       margin: 1rem;
       background-image: url(images/gardening.jpeg);
       background-size: 21rem;
       display: grid;
       grid-template-rows: 1fr 2fr 1fr;
      
       
    }
    .cards2 .div{
        visibility: hidden;
     
    }
    
    .cards2:hover .div{
        visibility: visible;
    }
 .cards3{
    
    height: 14rem;
    width: 19rem;
       margin: 1rem;
    background-image: url(images/lawn\ removing.webp);
    background-size: 21rem;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
.cards3 .div{
        visibility: hidden;
     
    }
    
    .cards3:hover .div{
        visibility: visible;
    }
 .cards4{
     
     height: 14rem;
       width: 19rem;
       margin: 1rem;
       background-image: url(images/flowering.webp);
       background-size: 21rem;
       display: grid;
       grid-template-rows: 1fr 4fr 1fr;
       transition:all 1s ease-in-out ; 

    }
    .cards4 .div{
        visibility: hidden;
     
    }
    
    .cards4:hover .div{
        visibility: visible;
    }

    .container7 button{
       border-radius: 2rem;
       border: 0.1rem solid black;
       height: 3rem;
       width: 7rem;
       transition:all 0.3s ease-in-out;
       background-color: rgb(63 214 86);
    }
    .container7 button:hover {
        border: 2px solid white;
        background-color: transparent;
        font-size: 0.8rem;
        font-weight: 900;
        color: black;

    } 
    .container8 {
      
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 35rem;
        width: 100%;
        box-sizing: border-box;
    }
.card11 img{
       height: 36.05rem;
    width: 32.4rem;
}
       
    
    .card12{
       box-sizing: border-box;
       height:35.2rem;
           padding-left: 0rem;
           padding-top: 2rem;
        background-color:rgb(220, 245, 224);
    }
    .card12 h1{
        margin-left: 2rem;
    }
    .card12 p{
        line-height: 2.17;
        color: #5f8564;
        margin-left: 2rem;

    }

    .card12a {
        
        display: grid;
        grid-template-columns:0.5fr 1fr ;
    }
     .image{
        
        border-radius: 10rem;
        height: 5rem;
        width: 5rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .card12 span{
        color: #5f8564;
    }
    .card12 h4{
        color: #225027;
    }
  
    .card12 button{
        border: rgb(102, 129, 106);
        height: 4.2rem;
        width: 33rem;
        padding: 0;
       background-color:rgb(102, 129, 106) ; 
       color: white;
       font-size: 1rem;
       transition: all 0.3s ease-in-out;
       margin-top: 4.4rem;
    }
    .card12 button:hover{
        font-size: 1.2rem;
    }
.card13{
    margin-top: 1rem;
   
}
.card13 h3{
    font-size: 2rem;
    margin-left: 2rem;
}
input[type=text],select{
    width: 91%;
    padding: 1rem 1rem;
    margin:0.5rem 1rem;
    display: inline-block;
    border: 1px solid rgb(87, 83, 83);
    border-radius: 2rem;
   color: rgb(92, 84, 84);
    box-sizing: border-box;
}
textarea{
    width: 91%;
    
    padding: 1rem 1rem;
    margin:0.5rem 1rem;
    display: inline-block;
    border: 1ps solid black;
    border-radius: 2rem;
    box-sizing: border-box;
    height: 8rem;
}
input[type=submit]{
    width: 100%;
    height: 4.4rem;
    background-color: #00880F;
    margin-top: 1.8rem;
    transition: all 0.3s ease-in-out;
    border: #00880F;
}
input[type=submit]:hover{
    font-size: 1.2rem;
}

</style>
